<div class="about-component">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Full Stack Developer </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Development experience has included building two full web applications. The
      first is the capstone at Tech Elevator where we used tools such as Spring
      Boot (Java) and Vue. The second is a solo project leveraging ASP.NET (C#) and Angular.
      These can be previewed under Projects.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Army Veteran </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      From 2010 to 2013 I got to serve in U.S. Army as apart of the 82nd
      Airborne Division. During this time I gained a wealth of experience in
      comradery, had my resolve tested regularly, and got to jump from perfectly
      safe airplanes over a dozen times (including one with Canadian
      jumpmasters).
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Fitness Enthusiast </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      In addition to holding a M.S. in Exercise Science, I have been strength
      training for over 2 decades. I have never considered this as a profession
      but as a way of life and stress relief. Feel free to reach out if you need
      any advice.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> More </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      I'm a dog guy, I can tolerate cats the way they tolerate their "owners". I
      watch anime but not much else on tv/streaming. In my spare time I love
      watching UFC, listening to pods about the UFC and talking UFC in general.
      I also watch some NFL, I'm an ex-Falcons fan, because I value my mental
      health. I also enjoy playing Draftkings' Daily Fantasy NFL and UFC
      contests. As far as food goes, I especially love steak, sushi, and Crumbl.
    </p>
  </mat-expansion-panel>
</div>
