<div class="card-container">
  <mat-card
    class="example-card"
    style="background-color: whitesmoke; padding: 5px"
  >
    <mat-card-header>
      <mat-card-title>TechFitness Pal</mat-card-title>
      <mat-card-subtitle>Tech Elevator Capstone</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://user-images.githubusercontent.com/138078005/274752645-6cceef19-02bf-415f-acd6-b2efa006091a.jpg"
      alt="Home Screen for TefPal"
    />
    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        (click)="gotToLink('https://github.com/rodrellmgreen/Capstone')"
      >
        Github
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card
    class="example-card"
    style="background-color: whitesmoke; padding: 5px"
  >
    <mat-card-header>
      <mat-card-title>ChiimeIn</mat-card-title>
      <mat-card-subtitle>Personal Project</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://user-images.githubusercontent.com/138078005/275596146-d6b3813a-9666-432a-bb7f-2682cee5cb85.png"
      alt="Home Screen for TefPal"
    />

    <mat-card-actions>
      <button
        mat-button
        (click)="gotToLink('https://github.com/rodrellmgreen/ChiimeIn')"
      >
        Github
      </button>
      <button
        mat-button
        (click)="gotToLink('https://chiimeapi.azurewebsites.net/')"
      >
        Live
      </button>
    </mat-card-actions>
  </mat-card>
