<div class="main">
<mat-toolbar>

  <span style="font-size: 100px;">>_</span>
  <span style="font-size: 50px;">Rodrell Green</span>
</mat-toolbar>
<mat-tab-group dynamicHeight="true" mat-stretch-tabs="true" mat-align-tabs="center">
  <mat-tab class="tab" label="About">
    <app-about style="height: 100%;">
    </app-about>
  </mat-tab>
  <mat-tab   class="tab" label="Projects" ><app-projects ></app-projects></mat-tab>
  <mat-tab class="tab" label="Achievements"><app-achievements></app-achievements></mat-tab>
  <mat-tab    class="tab" label="Connect"><app-contact></app-contact></mat-tab>
</mat-tab-group>
</div>
