<div class="about-component">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Completed Tech Elevator Full Stack Java Bootcamp (10/22-02/23)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Throughout the bootcamp,we learned HTML, CSS, SQL, API, and JavaScript.
      The full-time bootcamp runs for 14 weeks, Monday through Friday, 9-4:30
      pm, and the part-time bootcamp runs for 30-weeks with a mix of independent
      study, live lectures and small-group programming. Both programs have a low
      student-to-instructor ratio to ensure the best supportive environment for
      participants. Tech Elevator’s instruction is delivered both remotely and
      in-person at campuses located in Cincinnati, Cleveland, Columbus,
      Charlotte, Chicago, Dallas, Detroit, Philadelphia, Pittsburgh and
      Wilmington. Tech Elevator also offers students beyond its core markets,
      and throughout North America, class options through its National Live
      Remote program.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Completed Web Applications Level 2 Certificate (08/21-05/22)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Certificate of 30 credit hours aimed at providing students the skills and
      knowledge required to use current web development tools and languages to
      develop websites with the functionalities and performance to meet
      requirements specifications.
      Technologies inlcuded: Python, HTML, CSS, Javascript, Bootstrap.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> AWS Certifications </mat-panel-title>
    </mat-expansion-panel-header>
    <img
      src="https://images.credly.com/size/680x680/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png"
    />
    <img
      src="https://images.credly.com/size/680x680/images/b9feab85-1a43-4f6c-99a5-631b88d5461b/image.png"
    />
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Non-Tech
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>B.A. Multidisciplinary Studies: Kinesiology, Biology, Chemistry</mat-list-item>
      <mat-list-item>M.S. Exercise Science</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</div>
